body {
    font-family: Arial, Helvetica, sans-serif;
}

.ContainerHeader {
    margin-top: 10px;
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.inputAlfabeto {
    width: 300px;
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: rgb(238, 238, 238);
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
}

.ContainerGrid {
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.gridInput {
    width: 50px;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.cintaContainer {
    display: flex;
    flex-wrap: wrap;
}

.ContentInputs {
    width: 50%;
    display: flex;
}

.ContainerAlfabeto {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

.ContainerButtonsModes {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.btnRandom {
    width: 400px;
    height: 50px;
    border-radius: 20px;
    border: none;
    background-color: #e94c4c;
    color: white;
    font-size: 14px;
    font-weight: bold;;
}